html{
	background-image: url("http://cdn.thinglink.me/api/image/720462663234093058/1024/10/scaletowidth/0/0/1/1/false/true?wait=true");
	background-size: cover;

}
h1{
	font-family: 'Fascinate Inline', cursive;
	color: black;
	text-align: center;
	text-decoration: underline;
}
p{
	font-family: 'Monofett', cursive;
	font-size: x-large;
	color: black ;
	margin-top: 100 px;
	text-align: center;

}
button{ align-content: center;
	background-color: yellowgreen;
	font-family: sans-serif;
	font-size: medium;
    display: block;margin: 0 auto;
	}